*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 80px;
    background-color: #2F5249;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav > h1{
    color: white;
    letter-spacing: 1.4px;
    cursor: pointer;
    transition: color 0.6s ease-in;
}

nav > h1:hover{
    color: orangered;
}

.card{
    height: 250px;
    width: 350px;
    /* border: 2px solid black; */
    background-color: pink;
    padding: 15px 25px;
    box-shadow: 0px 4px 4px ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: transform 0.4s ease-in;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.04);
}

.card > img{
    height: 100px;
}

main{
    height: calc(100vh - 80px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    overflow: auto;
    background-color: palevioletred;
    padding-top: 20px;
}