*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right , rgb(94, 242, 232) , rgb(80, 247, 80));
    
}

.outer > .inner{
    height: 300px;
    width: 350px;
    
    background-color: bisque;
    background-image: url(./konasema.webp);

    background-repeat: no-repeat;

    background-size: cover;

    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);

    border-radius: 20px;

}

.inner > h1{
    text-align: center;

}